<%= render 'shared/title', title: 'Projects' %>
<table>
 <thead>
   <tr>
     <th>Name</th>
     <th>Open Tickets</th>
     <th>Total Tickets</th>
   </tr>
 </thead>
 <tbody>
     <% Project.all.each do |project| %>
        <tr>
          <td>
            <strong><%= link_to project.name, project_path(project) %></strong>
            <br/>
            <%= project.description %>
          </td>
          <td><%= project.open_tickets.size %></td>
          <td><%= project.tickets.size %></td>
        </tr>
     <% end %>
 </tbody>
</table>

<% if logged_in? %>
  <%= link_to 'New Project', new_project_path, class: 'nav-link' %>
<% end %>